*{
  padding:0;
  margin:0;
}
/* .GapBeteweenSearch{
  display: flex;
  justify-content: space-between;
} */

.logo{
  padding-top: -5px;
}
.searchbar{
  padding-top: 15px;
}
.home{
  text-decoration: none;
  color: grey;
  padding-top: 15px;
}
.mynetwork{
  text-decoration: none;
  color: grey;
  padding-top: 15px;
}
.jobs{
  text-decoration: none;
  color: grey;
  padding-top: 15px;
}
.messaging{
  text-decoration: none;
  color: grey;
  padding-top: 15px;
}
.notification{
  text-decoration: none;
  color: grey;
  padding-top: 15px;
}